.h2{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 6vw;
    line-height: 1.5;
    text-align: center;
    margin:10%;
}
/*ADAPTACION PANTALLA COMPLETA*/
@media screen and (min-width: 800px){
    .h2{
        font-size: 3vw;
    }
}