.body{
    background-color: #000;

}
.h1-principal{
    font-family: 'Montserrat', sans-serif ;
    font-size: 5vws;
    color: #fff;
    text-align: center;
}
.btn{
    border-radius: 50px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 10%;
    width: 80%;
    height: 12vw;
    border: 4px solid red;
}
.btn-enlace{
    color: red;
    text-decoration: none;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
}
@media screen and (min-width: 800px){
    .btn{
        display: inline-block;
        width: 25%;
        height: 6vw;
        margin-left: 5%;
        margin-top: 6%;
        margin-bottom: 15%

    }
    
    .btn-enlace{
        font-size: 2vw;
    }
    
}
