html { 
    overflow-x: hidden;
    line-height: 0;
    width: 100%;
  } 
  
  .body{
      background-color: black;
      overflow-x: hidden;
      width: 100%;
      margin-right: 0;
      line-height: 0;
      padding-left: 0;
  }
  .img1-blakensen{
    display: inline-block;
      width: 100%;
      height: auto;
  }
  .img1-blakensenWide{
    width: 100;
    height: auto;
    display: none;
    margin: 0;
  }
  .h1{
    color: #fff;
    line-height: 1.5;
    font-family:  'Montserrat', sans-serif ;
    font-size: 4vw;
    margin: 10%;
    text-align: center;
  }
  .container-boton-mercadopago{
    margin-left: 40%;
    margin-bottom: 5%;
  }
  .cuenta-container{
    border-radius: 40px;
    background-color: #232121;
    margin: 3%;
  }
  .h2-cuenta-container{
    color: #fff;
    line-height: 1.5;
    font-family:  'Montserrat', sans-serif ;
    font-size: 3vw;
    margin: 10%;
    padding: 5%;
  }
  .boton-transferencia{
    margin-left: 25%;
    border-radius: 5px;
    width: 50vw;
    margin-bottom: 100px;
    height: 10vw;
    background-color: #009ee3;
    border: none;
  }
  .enlace-boton-transferencia{
    font-size: 3vw;
    font-family:  'Montserrat', sans-serif ;
    text-decoration: none;
    padding: 2% 2% 2% 2%;
    color: #fff;

    
  }
  /* Estilos para los botones */
button#mostrarInput,
button#verificarCodigo {
  background-color: black;
  color: white;
  border: 2px solid red;
  padding: 8px 16px;
  margin: 10px;
  cursor: pointer;
  font-family:  'Montserrat', sans-serif ;

}
.inputcodigo{
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Centrar los botones */
button#mostrarInput,
button#verificarCodigo {
  display: block;
  margin: 0 auto;
}
  @media screen and (min-width: 800px){
    .img1-blakensenWide{
        display: inline-block;
    }
    .img1-blakensen{
        display: none;
    }
  }