html { 
  overflow-x: hidden; 
  line-height: 0;
  width: 100%;
} 

.body{
    background-color: black;
    overflow-x: hidden;
    width: 100%;
    margin-right: 0;
    line-height: 0;
    padding-left: 0;
}

.img1-blakensen{
    height: 4rem;
  

}

/*-----------------countdown--------------------*/
.countDown-label{
  color: white;
  padding-left: 15%;
  font-family: 'Sniglet', cursive;
  font-size: 4vw;

}
.countDown-box{
    background-color: rgb(255, 0, 0);
    display: inline-block;
    width: 100%;
    left: 50%;    
  
  }
  .countDown-box__countDown{
    display: inline-block;
    color: #fff;
    font-size: 7vw;
    font-family: 'Montserrat', sans-serif;
    padding-left: 37%;
   padding-top: 5%;
   padding-bottom: 5%;
    margin: auto;
  }
  .segunda-countDown{
    margin-top: 3%;
  }
  /*-------section img2----------*/
.container-img2blak{
    display: inline-block;
    width: 100%;
    line-height: 0;
}
.img2-blakensen{
  display:inline-block;
  object-fit: contain;
  image-rendering: optimizeQuality;
  height: auto;
  width: 100%;
  max-width: 100%;
    margin:0;
    padding:0;
}
.img2-blakensen-wide{
  margin: 0;
  display: none;
  height: fit-content;
  width: 100%;
   max-width:100%;
}
/*-----primer texto----*/
.primerTexto-container{
  display: inline-block;
  height: 25vw;
  width: 100%;
  margin-bottom: 2vw;
}
.primerTexto{
  color: white;
  font-size: 3vw;
  font-family: 'Montserrat', sans-serif;;
  
  line-height: 1.5;
  text-align: center;
}
/*--------------------video principal-----------------------*/
.seccion-video__videobox{
  height: fit-content;
  width: 100%;
}
.seccion-video__container{
    margin: 0px;
    margin-top: 5%;
    padding-left: 0;
    height: 60vw;
    max-height: 1080px;
    width:80vw;
    max-width: 2100px;
    display: inline-block;
    position: relative;
    left: 10%;
    }

.seccion-video__video{
   width: 100%;
   height: 100%;
}
  /*--------------boton de acceso----------*/
  .container-buton{
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 10%;
    width: 85%;
    height: 15vw;
    border: 4px solid red;
  }
  .container-buton-link{
    color: red;
    text-decoration: none;
    font-size: 5vw;
    font-family: 'Montserrat', sans-serif;
    
  }
  .caso-especial{
    margin-left: 0;
    width: 95%;
  }
  /*-----------IMAGENES SIGUIENTES CON DESCRIPCIÓN---------------------*/
  .descripcion-container{
    background-color: #ca1016;
  }
  .p3blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
  }
  .p4blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
  }
  .p3blakensen-wide, .p4blakensen-wide{
    display: none;
    width: 100vw;
    height: fit-content;
     max-width:100%;
  }
  .h2abajop4{
    color: #fff;
    margin: 5%;
    margin-left: 10%;
    font-size: 4vw;
    line-height: 1.5;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }
  .cuadro-descripcion{
    display: block;
    width: 70vw;
    margin-left: 15%;
    background-color: #151414aa;
    border-radius: 20px;
    height: fit-content;
  }
  .descripciones{
    padding-top: 1vw;
    padding-bottom: 2vw;
    padding-left: 1%;
  }
  .descripcion{
    margin: 5%;
    padding-left: 0;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    color: white;
    line-height: 1.5;
  }
  /*CORTE CAMBIO DE COLOR DE NEGRO A BLANCO */
  .p5blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
  }
  .p5blakensen-wide{
    display: none;
     max-width:100%;
  }

  /*----------VIDEOS DE TESTIMONIO------*/
  .section-videoTestimonios{
    display: none;
    background-color: white;
    line-height: 0;
    margin: 0;
    margin-top: -20px;
    padding: 0%;
    height: fit-content;

  }
  .titulo-testimonio{
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    margin-left: 20%;
    padding-top: 30px;
  }
  .videoContainer-testimonio{
    display: block;
   background-color: white;
  }
  
  .video-testimonio{
    margin: 4vw;
    width: 90%;
  }
  /*---video testimonios carrousel---------*/
  .slider {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    background-color: white;
  }
  
  .slider iframe {
    width: 100%;
    height: 360px;
  }
  .buttons-carrousel{
    background-color: white;
    display: inline-block;
    width: 100%;
  }
  .prev, .next {
    display: inline-block;
    margin: 20px auto;
    margin-left: 15%;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  
  .prev:hover, .next:hover {
    background-color: #666;
  }
  

  /*----CAMBIO DE BLANCO A NEGRO CON CARTEL DE DESCUENTO---*/
  .p6blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
   
  }
  .p6blakensen-wide{
     max-width:100%;
    display: none;
  }

  /*seccion 7 cupos*/
  .section7{
    background-color: #000;
    height: fit-content;
  }
  .cupos{
    color: #fff;
    font-size: 4vw;
    margin: 5%;
    margin-left: 15%;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
  }
  .p7blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
  }
  .p7blakensenWide{
     max-width:100%;
    display: none;
    width: 100%;
    height: fit-content;
  }
/*----section 8 programa*/
  .section8{
    background-color: #ca1016;
    width: 100%;
    display: inline-block;
    
  }
  .section8boton{
    border: 2px solid black;
    margin-bottom: 10%;
  }
  .container-buton-link-section8{
    color: #000;
    text-decoration: none;
    font-family:  'Montserrat', sans-serif ;
    font-size: 3vw;
  }
  .section7h5{
    font-family:  'Montserrat', sans-serif ;
    font-size: 3vw;
    margin: 10%;
    line-height: 1.5;
    color: #fff;
    text-align: center;
   
  }
  .section9{
    background-color: #000;
  }
  .p8blakensen, .p9blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
    
  }
  .p8blakensenWide{
    display:none;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
  }
  
  .texto-p8{
    display: block;
    width: 80%;
    background-color: #252525;
    border-radius: 30px;
    margin-left: 10%;
  }
  .h6-p8{
    line-height: 1.5;
    color: #fff;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    
    padding-left: 8%;
  }
  .primerah6p8{
    padding-top: 8%;
  }
  .ultimah6p8{
    padding-bottom: 8%;
  }
 .p9blakensenWide{
    display: none;
    width: 100%;
    height: fit-content;
     max-width:100%;
  }
  .section9wpp{
    display: inline-block;
    margin-left: 22%;
  }
  .section9-logowpp{
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  .section9-logowpp-h6{
    text-align: center;
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif ;
    color: #fff;
    line-height: 1.5;
    margin-top: 0;
  }
  /*-----------PREGUNTAS FRECUENTES-----------*/
  .p10blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
     
  }
  .p10blakensenWide{
    display: none;
    width: 100;
    height: fit-content;
     max-width:100%;
  }
  .faq {
    background-color: #ca1016;
    padding: 40px;
    
  }
  
  .ul-faq {
    list-style: none;
    padding: 0;
  }
  
  .li-faq {
    margin-bottom: 16px;
    font-family:  'Montserrat', sans-serif ;
    font-size: 3vw;
  }
  
  .button-faq {
    background-color: #5c0003;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
    cursor: pointer;
    font-family:  'Montserrat', sans-serif ;
    font-size: 3vw;
    padding: 16px;
    text-align: left;
    width: 100%;
  }
  
  .button-faq:hover {
    background-color: #eee;
    color: #000;
  }
  
  .answer-faq {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #ca1016;
    font-family:  'Montserrat', sans-serif ;
    font-size: 3vw;
    padding: 16px;
    margin-top: 8px;
    line-height: 1.5;
  }
  
  .hidden {
    display: none;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 8px;
  }
  .p11blakensen{
    display:inline-block;
    object-fit: contain;
    image-rendering: optimizeQuality;
    height: auto;
    width: 100%;
    max-width: 100%;
      margin:0;
      padding:0;
  }
  /*----------------seccion de instagram y whastapp--------------*/
   
  .instagram-whatsapp{
    background-color: #000;
    width: 100%;
    top:-2vw;
    
  }
  .h1-whatsapp{
    padding-top: 100px;
    font-size: 5vw;
    padding-left: 25%;
    font-family:  'Montserrat', sans-serif ;
    color:#fff;
  }
  .h6-whatsapp{
    padding-top: 2vw;
    font-size: 3vw;
    padding-left: 30%;
    font-family:  'Montserrat', sans-serif ;
    color: #fff;
    line-height: 1.5;
  }
  .button-whatsapp{
    display: block;
    margin-left: 40%;
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin-bottom: 5vw;
  }
  .img-whatsapp{
   width: 100%;
   height: 100%;
   object-fit: contain; 
  }
  /*------------------------------FOMO------------------------------------*/

.FOMO{
  position: fixed;
  bottom:80px;
  left: 5px;
  background-color: rgba(63, 55, 110, 0.856);
  width: 70vw;
  height: 10vw;
  border-radius: 40px;
  max-width: 500px;
  max-height: 51px;
  display: none;
  padding-left: 3vw;
}
.FOMO-h6{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: clamp(4px, 3vw, 20px);
  color: #fff;
  text-shadow: #000 5px;
  padding-top: 7px;
  margin-top: 10px;
  margin-left: 25px;
 
}
  
  
  /*-------------------------ADAPTACION PANTALLA COMPLETA----------------------------*/

  @media screen and (min-width: 800px){

    .countDown-box__countDown{
      font-size: 2vw;
      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 45%;
    }
    .countDown-label{
      font-size: 2vw;
    }
    /*video box*/
    .seccion-video__videobox{
      margin-left: 1vw;
    }
    /*IMG2*/
    .img2-blakensen-wide{
      display: inline-block;
    }
    .img2-blakensen{
      display: none;
    }
    /*img3 y 4*/
    .p3blakensen, .p4blakensen{
      display: none;
    }
    .p3blakensen-wide, .p4blakensen-wide{
      display: inline-block;
    }
    /*DESCRIPCIONES*/
    
    .descripcionA{
      display: block;
      float: left;

    }
    .descripcionB{
      display: block;
      float: right;
    }
    /*--cambio de color de negro a blanco--*/
    .p5blakensen{
      display: none;
    }
    .p5blakensen-wide{
      display: inline-block;
      width: 100vw;
      height: fit-content;
    }
    /*testimonios video*/
    .section-videoTestimonios{
      display: block;
    }
    .buttons-carrousel{
      display: none;
    }
    .slider{
      display: none;
    }
   .video-testimonio{
    padding: 2vw;
    width: 27vw;
   }
   .video1test{
    float: left;
    padding-right: 7vw;
    margin-right: 0;
   }
   .video2test{
    float: right;
    padding-left:7vw ;
    padding-right: 5vw;
    margin-left: 0;
   }
   /*cambio de color de blanco a negro con cartel de descuento*/
   .p6blakensen{
    display: none;
  }
  .p6blakensen-wide{
    display: inline-block;
    width: 100%;
    height: fit-content;
  }
  .p7blakensen{
    display: none;
   
  }
  .p7blakensenWide{
    display: inline-block;
  }
 .p9blakensen{
    display: none;
    
  }
  .p8blakensen{
    display: none;
  }
  .p8blakensenWide, .p9blakensenWide{
    display: inline-block;
    
  }
  .section9wpp{
    display: block;
    float: left;
    text-align: center;
    margin: 5%;
    margin-left: 13%;
  }
  .section9-logowpp{
    width: 200px;
    height: 200px;
    object-fit: contain;
  }
  .section9-logowpp-h6{
    text-align: center;
    font-size: 2vw;
    font-family: 'Montserrat', sans-serif ;
    color: #fff;
    line-height: 1.5;
  }
  .ult{
    margin-left: 32%;
  }
  .p10blakensen{
    display: none;
  }
  .p10blakensenWide{
    display: inline-block;
  }
    }
